h1{
    color: red;
    font-family: "impact";
    text-align: center;
    background-color: aqua;
}

p{
}
body{
    background-image: url("../images/a.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}